.wrapper {
    background: transparent;
    border-top: 1px solid #ced1d3;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 9999;
}

.inner {
    display: flex;
    align-items: center;
    height: var(--defautl-layout-footer-height);
    justify-content: space-between;
    padding: var(--defautl-layout-horizontal-spacer);
    position: relative;
    z-index: 9;
}

.status {
    display: flex;
    align-items: center;
    justify-items: center;
}

.follow-author {
    align-items: center;
    display: flex;
    .item {
        align-items: center;
        background: transparent;
        border: 1px solid #c3c3c3;
        border-radius: 4px;
        display: flex;
        height: 26px;
        width: 26px;

        justify-content: center;
        text-decoration: none;
    }

    .item + .item {
        margin-left: 10px;
    }
}

.scrollProcess {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white-color);
    z-index: 1;
}

.scrollValue {
    background-color: var(--gray-light-color);
    height: 100%;
    transition: all 0.3s linear;
}
